<footer class="blog-footer">
    <p>simple blog built with <a href="https://www.slimframework.com/docs/v2/">Slim Framework v2</a> by <a href="https://www.linkedin.com/in/tgeorgiev/" target="_blank">Todor</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>