<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a class="text-muted" href="https://bitbucket.org/tgeorgiev/emp-blog/" target="_blank">Git Repo</a>
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/">EMP Blog</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="/auth/login">Login</a>
        </div>
    </div>
</header>