<aside class="col-md-4 blog-sidebar">
    <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">simple blog built with <em><a href="https://www.slimframework.com/docs/v2/">Slim Framework v2</a></em>.</p>
    </div>
</aside>