{% extends 'admin/base.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom">
        <h2>Latest Posts</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm mb-0">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content|slice(0, 80) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ baseUrl() }}/admin/post" class="btn btn-sm btn-primary float-right mb-2 mt-2">View All</a>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom">
        <h2>Latest Users</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm mb-0">
            <thead>
            <tr>
                <th>#</th>
                <th style="width: 80%;">username</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ baseUrl() }}/admin/user" class="btn btn-sm btn-primary float-right mb-2 mt-2">View All</a>
    </div>
{% endblock %}
