{% extends 'admin/base.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom">
        <h2>Edit Post <small>{{ post.title }}</small></h2>
    </div>

    <form action="/admin/post/{{ post.id }}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" value="{{ post.title }}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" class="form-control" rows="3">{{ post.content }}</textarea>
        </div>
        <input type="hidden" name="_METHOD" value="PUT"/>
        <button type="submit" class="btn btn-primary">Update Post</button>
    </form>

{% endblock %}
