{% extends 'admin/base.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom">
        <h2>Posts</h2>
    </div>
    <a href="{{ baseUrl() }}/admin/post/new" class="btn btn-sm btn-primary float-right mb-2 mt-2">New Post</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content|slice(0, 80) }}</td>
                <td><a href="{{ baseUrl() }}/admin/post/edit/{{ post.id }}" class="btn btn-sm btn-outline-secondary">edit</a></td>
                <td>
                    <form action="/admin/post/{{ post.id }}" method="post">
                        <input type="hidden" name="_METHOD" value="DELETE"/>
                        <input type="submit" class="btn btn-sm btn-outline-danger" value="delete"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
