{% extends 'admin/base.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom">
        <h2>New User</h2>
    </div>

    <form action="/admin/user/new" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" value="">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" value="" maxlength="72">
        </div>
        <button type="submit" class="btn btn-primary">Create User</button>
    </form>

{% endblock %}
