{% extends 'admin/base.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom">
        <h2>Edit User <small>{{ user.username }}</small></h2>
    </div>

    <form action="/admin/user/{{ user.id }}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" value="{{ user.username }}">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" maxlength="72">
            <small id="emailHelp" class="form-text text-muted">If you leave it blank, it will not change the current password</small>
        </div>
        <input type="hidden" name="_METHOD" value="PUT"/>
        <button type="submit" class="btn btn-primary">Update User</button>
    </form>

{% endblock %}
