{% extends 'admin/base.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 border-bottom">
        <h2>Users</h2>
    </div>
    <a href="{{ baseUrl() }}/admin/user/new" class="btn btn-sm btn-primary float-right mb-2 mt-2">New User</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th style="width: 80%;">username</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td><a href="{{ baseUrl() }}/admin/user/edit/{{ user.id }}" class="btn btn-sm btn-outline-secondary">edit</a></td>
                <td>
                    <form action="/admin/user/{{ user.id }}" method="post">
                        <input type="hidden" name="_METHOD" value="DELETE"/>
                        <input type="submit" class="btn btn-sm btn-outline-danger" value="delete"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
