{% extends 'base.twig' %}

{% block header %}
    {{ parent() }}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Slim 2 Micro Blog</h1>
            <p class="lead my-3">A simple blog app created with slim 2</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 blog-main">
            {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </div>
            {% endfor %}
        </div>

        {% include 'partials/sidebar.twig' %}

    </div>
{% endblock %}
